<div class="container dashboard-container">
  <table>
    <tbody>
      <tr>
        <td>Skills</td>
        <td>Ruby / Python</td>
      </tr>
      <tr>
        <td></td>
        <td>JavaScript /jQuery /Angular /ajax</td>
      </tr>
      <tr>
        <td></td>
        <td>HTML5 /CSS /Bootstrap /SASS</td>
      </tr>
      <tr>
        <td></td>
        <td>MySQL /PostgreSQL</td>
      </tr>
      <tr>
        <td></td>
        <td>Git</tr>
      <tr>
        <td></td>
        <td>Agile</td>
      </tr>
      <tr>
        <td></td>
        <td>NGINX /Capistrano /Puma /Puppet</td>
      </tr>
      <tr>
        <td></td>
        <td>TDD /RSpec /Minitest</td>
      </tr>
      
      <tr>
        <td>Links:</td>
        <td>LinkedIn</td>
      </tr>
      <tr>
        <td>Location:</td>
        <td>Manchester, UK</td>
      </tr>
    </tbody>
  </table>
</div>